header {
  .navbar-mk {
    margin: 30px 30px 30px 30px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.137);
    display: flex;
    justify-content: space-between;
    padding: 12px;
    div {
      a {
        text-decoration: none;
        color: white;
        align-self: center;
      }

      .btnnav {
        border-color: none;
      }

      .sections {
        justify-content: right;

        ul {
          list-style: none;
          font-size: 14px;
          margin-right: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
          li {
            display: inline-block;
            margin: 10px;

            a {
              text-decoration: none;
              color: white;
              align-self: center;
            }
          }
        }
      }
    }
  }

  .navbarr-mk {
    margin: 30px 30px 30px 30px;
    text-align: center;
    border-radius: 20px;
    background: rgb(51, 0, 25);
    background-color: #7f5675;
    padding: 12px;
    div {
      a {
        text-decoration: none;
        color: white;
        align-self: center;
      }

      .btnnav {
        border-color: none;
      }

      .sections {
        justify-content: right;

        ul {
          list-style: none;
          font-size: 14px;
          margin-right: 15px;
          margin-top: 5px;
          margin-bottom: 5px;
          li {
            display: inline-block;
            margin: 10px;

            a {
              text-decoration: none;
              color: white;
              align-self: center;
            }
          }
        }
      }
    }
  }
}
