.bodyhome {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/backgrounf.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  .home {
    display: flex;
    color: white;
    .container-home {
      display: flex;
      align-items: center;
      vertical-align: middle;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;
      color: white;
      font-weight: normal;
      .home-text {
        text-align: start;
        justify-content: left;
        margin: 50px;
        font-family: "Poppins", sans-serif;
        h1 {
          font-size: 62px;
          font-weight: bold;
        }
        p {
          padding-bottom: 35px;
        }
        .btn-mk {
          padding: 15px;
          background-color: #ffffff;
          color: #ffffff;
          border-radius: 8px;
          text-decoration: none;
          font-size: 14px;
          transform: translate(-50%, -50%);
          background: transparent;
          border: 1px solid #ffffff;
          outline: none;
          transition: 1s ease-in-out;
          &:hover {
            transition: 0.5s ease-in-out;
            background: #ffffff;
            color: #2e0722;
          }
        }
      }
      .img {
        display: flex;
        width: 500px;
        height: 500px;
        justify-content: right;
        margin-right: 30px;
      }
    }
  }
  .home-conocenos {
    background-color: whitesmoke;
    background-size: cover;
    padding-bottom: 100px;
    text-align: -webkit-center;
    h2 {
      padding: 60px;
      text-align: center;
      color: #3d001d;
      font-size: 30px;
    }
    .container {
      .row {
        div {
          .img-conocenos {
            width: 200px;
            border-radius: 50%;
            display: flex;
            border: 7px solid #7f5675;
          }
          div {
            .names {
              font-size: 20px;
              font-weight: 500;
              margin-top: 15px;
              color: #3d001d;
            }
          }
        }
      }
    }
  }
  .home-number {
    background-color: #dfdae2;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    .container {
      .row {
        div {
          div {
            h2 {
              font-size: 50px;
              background: linear-gradient(#3d001d, #aa82c6);
              -webkit-background-clip: text;
              background-clip: none;
              color: transparent;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .quehacemos {
    background-size: cover;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      padding-bottom: 30px;
      padding-top: 20px;
      text-align: center;
      color: #3d001d;
      font-size: 25px;
    }
    .grid-container {
      color: #808080;
      font-size: 14px;
      text-align: center;
      justify-content: center;
      margin-left: 30px;
      margin-right: 30px;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      gap: 30px 50px;
      padding: 10px;
      div {
        img {
          width: 70px;
        }
        h3 {
          font-weight: 550;
          font-size: 18px;
          color: #172755;
          margin-bottom: 10px;
        }
      }
      div {
        .quehacemos-text {
          text-decoration: none;
          width: 50%;
          font-size: 16px;
          font-weight: normal;
          text-align: center;
          align-items: center;
          padding: 15px;
          margin: 20px;
          margin-bottom: 40px;
          background-color: #6a5677;
          color: #ffffff;
          border-radius: 15px;
          &:hover {
            background-color: #73be64;
            color: #ffffff;
          }
        }
      }
    }
  }
  .title-price {
    padding: 20px;
    text-align: center;
    color: #3d001d;
    font-size: 25px;
  }
  .price-container {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    padding: 40px;
    margin: 30px;
    background-color: #c0adcd4b;
    border-radius: 20px;
    div {
      div {
        .tabla {
          padding: 30px;
          background: #c0adcd;
          border-radius: 20px;
          .box-price {
            position: relative;
            .number {
              font-size: 37px;
              color: #432953;
            }
            .mes {
              color: #3f3f3fd3;
              font-size: 12px;
            }
          }
          .caracteristicas-price {
            h4 {
              font-size: 22px;
              color: white;
              font-weight: normal;
            }
            ul {
              margin: 10px 10px 10px 0px;
              padding-left: 10px;
              li {
                list-style: none;
                color: #3f3f3fd3;
                font-size: 14px;
              }
            }
            a {
              background: whitesmoke;
              color: #3d001d;
              padding: 10px;
              text-decoration: none;
              border-radius: 20px;
              display: block;
              font-size: 15px;
              text-align: center;
            }
          }
        }
      }
    }
    div {
      .tabladif {
        padding: 30px;
        background: #432953;
        border-radius: 20px;
        .box-price-dif {
          color: whitesmoke;
          .numberdif {
            font-size: 37px;
            color: whitesmoke;
          }
          .mesdif {
            color: whitesmoke;
            font-size: 12px;
          }
        }
        .caracteristicas-price-dif {
          color: whitesmoke;
          list-style: none;
          h4 {
            font-size: 22px;
            color: white;
            font-weight: normal;
          }
          ul {
            margin: 10px 10px 10px 0px;
            padding-left: 10px;
            li {
              list-style: none;
              color: whitesmoke;
              font-size: 14px;
            }
          }
          a {
            color: whitesmoke;
            background: whitesmoke;
            color: #3d001d;
            padding: 10px;
            text-decoration: none;
            border-radius: 20px;
            display: block;
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }
  .galery-container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px;
    grid-gap: 20px;
    .box-image {
      a {
        figure {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .box-image:nth-child(3) {
      grid-row-start: span 2;
    }
    .box-image:nth-child(4) {
      grid-column-end: span 2;
    }
  }
  .container-info {
    h2 {
      padding: 20px;
      text-align: center;
      color: #3d001d;
      font-size: 25px;
    }
    .info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
      .infoleft {
        background-color: #432953;
        color: white;
        padding: 20px;
        max-width: 100%;
        border-radius: 10px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: span 2;
        h3 {
          padding-top: 10px;
          font-size: 28px;
        }
        .datos {
          display: flex;
          text-align: left;
          align-items: baseline;
          margin-top: 8px;
          i {
            margin-right: 8px;
          }
        }
      }
      .interesting {
        h4 {
        }
        form {
          .btn-contact {
            text-decoration: none;
            margin: 0%;
            color: white;
            font-size: 14px;
            background-color: #3d001d;
            padding: 10px 30px;
            margin: 5px 5px 5px 0px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
